@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700&display=swap');

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1;
}

body, input, select {
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}
